.square {
  height: 10px;
  width: 10px;
  opacity: 0.5;
}

#topleft {
  position: absolute;
  top: 0;
  left: 0;
  border: 20px dashed red;
}

#topright{
  position: absolute;
  top: 0;
  right: 0;
  border: 20px dashed blue;
}

#bottomleft{
  position: absolute;
  bottom: 0;
  left: 0;
  border: 20px dashed yellow;
}

#bottomright{
  position: absolute;
  bottom: 0;
  right: 0;
  border: 20px dashed green;
}



body {
  height: 100%;
  width: 100%;
}

#semi {
  position: absolute;
  left: 0;
  z-index: 2;
  top: 250px;
  height: 50px;
  width: 50px;
  display: block;
}

#wolo {
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    margin: 0 auto;
}

textarea {
  text-align: center;
  width: 90%;
  font-size: 25px;
  height: 200px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  margin: 20px auto;
  padding: 5px;
  resize: none;
}

.getfunky {

          -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
            animation: myfirst 5s;
          }/* Chrome, Safari, Opera */
            @-webkit-keyframes myfirst {
                0%   {background: red;}
                25%  {background: yellow;}
                50%  {background: blue;}
                100% {background: green;}
            }

            /* Standard syntax */
            @keyframes myfirst {
                0%   {background: red;}
                25%  {background: yellow;}
                50%  {background: blue;}
                100% {background: green;}
            }
